body {
    font-family: 'Times New Roman', Times, serif,;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

.color {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.color:hover {
    background-color: #ddd ;
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.3s; /* Add transition for smooth size change */
}

nav.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    padding-top: 60px;
    border-color: #333;
    border-width: medium;
    transition: width 0.3s ease; /* Add transition for smooth animation */
}

nav.sidenav.hidden {
    width: 0; /* Hide the navbar by setting width to 0 */
}

nav.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    width: 100px; /* Set the initial width */
    transition: width 0.3s, padding 0.3s; /* Add transition for smooth size change */
}

nav.sidenav a:hover {
    background-color: #555;
    width: 120px; /* Increase width on hover */
    padding: 10px 20px; /* Increase padding on hover */
    font-size: 18px; /* Keep the font size unchanged */
}


section {
    padding: 20px;
    border-color: #333;
    margin-left: 200px;
}

dialog {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #ddd;
}

dialog p {
    margin: 0;
    font-size: 16px;
}

dialog button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
dialog button:hover {
    background-color: red;

}
#toggleButton {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}

#toggleButton:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: #ddd;
}
a {
    color: grey; 
}

/* Visited link color */
a:visited {
    color: red; 
}

/* Hovered link color */
a:hover {
    color: #333;
}