.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
}
.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hangman svg {
    margin-bottom: 10px;
}
.letter-input {
    margin-top: 10px;
}
.word-display {
    font-size: 1.5em;
    font-weight: bold;
    white-space: pre-wrap; /* Preserve whitespace and wrap */
    text-align: center;
    margin-bottom: 10px;
}
.word-display .letter {
    display: inline-block;
    margin-right: 0.3em; /* Adjust letter spacing */
}
.word-display span {
    margin-right: 0.5em; /* Adjust spacing between words */
}
body {
font-family: 'Times New Roman', Times, serif,;
text-align: center;
}

dialog {
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #333;
color: #ddd;
}

dialog p {
margin: 0;
font-size: 16px;
}

dialog button {
margin: 5px;
padding: 10px 20px;
border: none;
background-color: #333;
color: #fff;
border-radius: 5px;
cursor: pointer;
}
dialog button:hover {
background-color: red;

}
#toggleButton {
margin: 5px;
padding: 10px 20px;
border: none;
background-color: white;
color: #333;
border-radius: 5px;
cursor: pointer;
}

#toggleButton:hover {
transform: scale(1.1);
transition: transform 0.3s;
background-color: #ddd;
}
a {
color: black 
}

/* Visited link color */
a:visited {
color: red; 
}

/* Hovered link color */
a:hover {
color: #333;
}