body {
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
}
article {
    max-width: 800px;
    margin: 0 auto;
}
p, ul, ol {
    margin-bottom: 20px;
}
nav, #color {
    text-align: center;
}
